* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  color: #555;
  /* font-size: 2rem; */
}
html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
.hero-section {
  background-color: #fae5d3;
  padding: 4.8rem 0px 9.6rem 0;
  /* gap: 9.6rem; */
}
.hero {
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.primary-heading {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.food-image {
  width: 100%;
}
.btn:link,
.btn:visited {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  /* height: 20px; */
  padding: 1.6rem 3.2rem;
  text-decoration: none;

  font-weight: 600;
  /* border-radius: 150px; */
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full :visited {
  background-color: #e67e22;
  color: #fff;
  /* text-decoration: none; */
}
.btn--full:hover,
.btn--full:active {
  /* background-color: #cf711f; */
  /* background-color: red; */
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fae5d3;
  color: #555;
  /* border: 3px solid red; */
  box-shadow: inset 0 0 0 3px #fff;
}
.btn-mar-right {
  margin-right: 1.6rem;
}
.delivered-meals {
  margin-top: 8rem;
  display: flex;
  /* text-align: center; */
  align-items: center;
  gap: 1.6rem;
}
.delivered-faces {
  display: flex;
  gap: 10px;
}
.delivered-faces img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-faces img:last-child {
  margin-right: 0px;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0px 4.8rem;
}
.omnifood-logo {
  height: 2.2rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  /* text-align: center; */
  align-items: center;
  gap: 3.2rem;
  /* text-decoration: none; */
}

.main-nav-link:link,
.main-nav-link:visited {
  /* display: inline-block; */
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf771f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;

  /* color: green; */
  color: #fff; /* this is not working */
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nta-cta:active {
  background-color: #cf771f;
  /* color: #fff; */
}

/********************************/
.section-how {
  background-color: red;
  /* padding: 0 30px; */
  /* padding: 0 9.6rem; */
  padding: 9.6rem 0;
  margin-bottom: 2rem;
}
.section-how div {
  padding: 40px;
  font-size: 20px;
}
.grid {
  display: grid;
  gap: 3rem;
}
.container {
  max-width: 120rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.section-how div div:nth-child(1) {
  background-color: yellow;
}
.section-how div div:nth-child(2) {
  background-color: blue;
}
.section-how div div:nth-child(3) {
  background-color: green;
}
.section-how div div:nth-child(4) {
  background-color: aqua;
}
/* 
.section-how:nth-child(all) {
  padding: 3rem;
} */
